body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
}

#event-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#event-form h2 {
    margin-top: 0;
}

#event-form form {
    display: flex;
    flex-direction: column;
}

#event-form label {
    margin-bottom: 10px;
}

#event-form input, #event-form button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

#event-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#event-form button:hover {
    background-color: #0056b3;
}
